

<aside class="left-sidebar">
           
    <div class="scroll-sidebar">
        
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                
                <li>                    
                    <div class="user-profile d-flex no-block dropdown mt-3">
                        <div class="user-pic"><img src="../assets/images/user.jpg" alt="users" class="rounded-circle" width="40" /></div>
                        <div class="user-content hide-menu ml-2">
                            <a href="javascript:void(0)">
                                <h5 class="mb-0 user-name font-medium">Vikas Pandey </h5>                                        
                            </a>                                    
                        </div>
                    </div>                   
                </li>
                
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span class="hide-menu">Org Mgmt </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="company-view.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Company </span></a></li>
                        <li class="sidebar-item"><a href="company-branch-view.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Branch </span></a></li>
                        <li class="sidebar-item"><a href="employee-view.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Employees </span></a></li>
                        <li class="sidebar-item"><a href="employee-relations-view.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Employees Relations </span></a></li>
                        <li class="sidebar-item"><a href="attendance-view.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Attendance</span></a></li>
                        <li class="sidebar-item"><a href="index5.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Employee Exit Report </span></a></li>
                        <li class="sidebar-item"><a href="index6.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Form A </span></a></li>
                        <li class="sidebar-item"><a href="index7.html" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> Employee Card </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i data-feather="sidebar" class="feather-icon"></i><span class="hide-menu">Reports </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="salary-register.html" class="sidebar-link"><i class="mdi mdi-view-quilt"></i><span class="hide-menu"> Salary Register </span></a></li>
                        <li class="sidebar-item"><a href="sidebar-type-iconsidebar.html" class="sidebar-link"><i class="mdi mdi-view-parallel"></i><span class="hide-menu"> Overtime </span></a></li>
                        <li class="sidebar-item"><a href="sidebar-type-overlaysidebar.html" class="sidebar-link"><i class="mdi mdi-view-day"></i><span class="hide-menu"> Arrear Sheet </span></a></li>
                        <li class="sidebar-item"><a href="sidebar-type-fullsidebar.html" class="sidebar-link"><i class="mdi mdi-view-array"></i><span class="hide-menu"> PF Challan </span></a></li>
                        <li class="sidebar-item"><a href="sidebar-type-horizontalsidebar.html" class="sidebar-link"><i class="mdi mdi-view-module"></i><span class="hide-menu"> ESI Challan </span></a></li>
                        <li class="sidebar-item"><a href="sidebar-type-horizontalsidebar.html" class="sidebar-link"><i class="mdi mdi-view-module"></i><span class="hide-menu"> Bonus &amp; Gratuity </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i data-feather="clipboard" class="feather-icon"></i><span class="hide-menu">Management </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="layout-inner-fixed-left-sidebar.html" class="sidebar-link"><i class="mdi mdi-format-align-left"></i><span class="hide-menu"> Annual Report </span></a></li>
                        <li class="sidebar-item"><a href="layout-inner-fixed-right-sidebar.html" class="sidebar-link"><i class="mdi mdi-format-align-right"></i><span class="hide-menu"> LWF Report </span></a></li>
                        <li class="sidebar-item"><a href="layout-inner-left-sidebar.html" class="sidebar-link"><i class="mdi mdi-format-float-left"></i><span class="hide-menu"> PF Eligibility Register</span></a></li>
                        <li class="sidebar-item"><a href="layout-inner-right-sidebar.html" class="sidebar-link"><i class="mdi mdi-format-float-right"></i><span class="hide-menu"> PF Reconcilation </span></a></li>
                        <li class="sidebar-item"><a href="page-layout-fixed-header.html" class="sidebar-link"><i class="mdi mdi-view-quilt"></i><span class="hide-menu"> ESI Reconcilation </span></a></li>
                        
                    </ul>
                </li>
                
                
            </ul>
        </nav>
       
    </div>
    
</aside>