:root {
    background: linear-gradient();
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%)!important;
    height: 100vh;    
}
.login-section {
    margin: 100px auto;        
    /* background: #f3f3f3;
    border: 1px solid #000; */
    box-shadow: -4px 4px 8px #aaa;
    padding: 2em;
}
.login-section h1 {
    color: red;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    text-shadow: 1px 2px 2px #aaa;
}
.btn-custom {
    background: red;
    color: white;
    font-family: 'Raleway', sans-serif;
}
.form-control {
  border-left: 2px solid red;
}
.form-control:focus {
  background: lightyellow;
}
