


<div class="page-wrapper">
           
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
               
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">company name</li>
                            <li class="breadcrumb-item"><a href="#">Org Mgmt</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Branch View</li>
                        </ol>
                    </nav>
                </div>
            </div>                    
        </div>
    </div>
   
    <div class="container-fluid">               
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <h5 class="card-title">Branch Details</h5>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a href="add-company-branch.html" class="btn waves-effect waves-light btn-rounded btn-sm btn-warning">Add Branch</a>
                            </div>
                        </div>
                                                        
                        <div class="table-responsive">
                            <table id="example" class="table table-striped table-bordered table-sm">
                                <thead class="bg-lightblue text-white">
                                    <tr>
                                        <th>S. No</th>
                                        <th>Company Name</th>
                                        <th>Site/Location</th>                                                
                                        <th>Date of Commencement</th>
                                        <th>Contact Person</th>
                                        <th>Contact No.</th>
                                        <th>Name of DSC Person</th>
                                        <th>Email ID</th>
                                        <th>Total Employee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>System Architect</td>
                                        <td>Gurugram</td>                                                
                                        <td>18-03-2020</td>
                                        <td>Vikas Pandey</td>
                                        <td><a href="#">9968050757</a></td>
                                        <td>Vikas Pandey</td>
                                        <td><a href="#">vickypandey7777@yahoo.co.in</a></td>
                                        <td>56</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>System Architect</td>                                                
                                        <td>Pune</td>                                                
                                        <td>9-03-2020</td>
                                        <td>Santosh Kumar</td>
                                        <td><a href="#">9968050757</a></td>
                                        <td>Santosh Kumar</td>
                                        <td><a href="#">vickypandey7777@yahoo.co.in</a></td>
                                        <td>21</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>System Architect</td>                                                
                                        <td>Bangalore</td>
                                        <td>8-03-2020</td>
                                        <td>Vikas Pandey</td>
                                        <td><a href="#">9968050757</a></td>
                                        <td>Vikas Pandey</td>
                                        <td><a href="#">vickypandey7777@yahoo.co.in</a></td>
                                        <td>6</td>
                                    </tr>                                    
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>    
</div>